/* Globals */
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  height: 100%;
}

/* Map */
#map {
  height: 95%;
  width: 80%;
  float: left;
}

/* side-menu */

.side-menu {
  float:left;
  height: 100%;
  width: 20%;
  background: #0F0F0F;
  color: white;
  text-align: center;
}

#location-input {
  border: 0;
  padding: 0;
  width: 90%;
  margin-top: 10px;
}

/* top-bar */
.top-bar {
  min-height: 40px;
  width: 80%;
  background: #555;
  float: left;
  color: white;
}

.top-bar h1 {
  margin: 0;
}
