/* Globals */
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.con{
  height: 100%;
}

/* Map */
#map {
  height: 100%;
  width: 80%;
  float: left;
  bottom: 0;
}

/* side-menu */
.side-menu {
  float:left;
  height: 100%;
  min-width: 20%;
  background: #0F0F0F;
  color: white;
  text-align: center;
  transition: all 0.3s;
}

.side-menu.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  .side-menu {
    margin-left: -250px;
  }
  .side-menu.active {
    margin-left: 0;
  }
}

#location-input {
  border: 0;
  padding: 0;
  width: 90%;
  margin-top: 10px;
}

#location-list-element {
  padding-top: 20px;
}

#location-list-element p {
  margin-top: 3px;
  margin-bottom: 3px;
}


/* infowindow */
#pano {
  width: 200px;
  height: 200px;
  float: left;
}

#wikiLink {
  float: left;
}
